#ESPHome Core
esphome:
  name: refoss-p11
  name_add_mac_suffix: true
  project: 
    name: "Dzuriš Home.Refoss P11"
    version: "Dzuriš Home ESPHome"

esp8266:
  board: esp01_1m

#Logger
logger:
  baud_rate: 0

#Safe Mode
safe_mode:
  boot_is_good_after: 1min
  reboot_timeout: 5min

#WiFi
wifi:
  ssid: #SSID or !secret wifi_ssid
  password: #Password or !secret wifi_password
  manual_ip: #If you don't want set manual IPs, Delete (manual_ip and below that)
    static_ip: #Refoss P11 Device IP
    gateway: #Router IP
    subnet: #Router Subnet IP
  ap:
    ssid: "Refoss P11 Dzuriš Home AP"
    password: #Acess Point password or !secret ap_password

#WiFi Hotspot
captive_portal:

#OTA
ota:
  - platform: esphome
    password: #Password or !secret ota_password

#SNTP Time
time: #If you want to change the time on Home Assistant change it or stay on SNTP but you need change timezone and SNTP server for your Country
  - platform: sntp
    timezone: Europe/Bratislava
    servers:
     - 1.sk.pool.ntp.org
     - 0.europe.pool.ntp.org
     - 1.europe.pool.ntp.org

#Web Server
web_server: #If you don't want Web Server, Delete (web_server and below that) 
  port: 80
  auth:
    username: #Username or !secret web_server_username
    password: #Password or !secret web_server_password
  include_internal: false
  log: true
  version: 3

#ESPHome API
api: #If you don't want ESPHome API, Delete (api and below that)
  encryption:
    key: #Key or !secret api_encryption_key

#MQTT
mqtt: #If you don't have or want MQTT Broker, Delete (mqtt and below that)
  broker: #Broker or !secret mqtt_broker_ip_address
  username: #Username or !secret mqtt_broker_username
  password: #Password or !secret mqtt_broker_password
  client_id: "Refoss P11"
  topic_prefix: "Refoss P11"
  discovery: false #If you chnnge to true Home Assistant don't discovery device only from MQTT Integration

#Device Required
uart:
  rx_pin: GPIO03
  baud_rate: 4800
  id: power_monitoring

#Device
switch:
  - platform: gpio
    pin: GPIO13
    restore_mode: ALWAYS_OFF
    id: relay
    name: "Refoss P11"
    icon: mdi:power-socket-fr
    on_turn_on:
      - switch.turn_on: led
    on_turn_off:
      - switch.turn_off: led

  - platform: gpio
    pin:
      number: GPIO12
      inverted: yes
    id: led
    name: "Refoss P11 Switch LED"
    internal: true

light:
  - platform: status_led
    pin:
      number: GPIO4
      inverted: true
    name: "Refoss P11 Status LED"
    internal: true

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO05
    name: "Refoss P11 Power Button"
    entity_category: "diagnostic"
    on_press:
      then:
        - switch.toggle: relay
    on_click:
      min_length: 5s
      max_length: 10s
      then:
        - button.press: restart_device

sensor:
  - platform: cse7766
    uart_id: power_monitoring
    voltage:
      filters:
        - calibrate_linear:
          - 0.0 -> 0.0
          - 122.9 -> 232.6
        - throttle_average: 30s
      name: "Refoss P11 Voltage"
      icon: mdi:sine-wave
      unit_of_measurement: "V"
      device_class: "voltage"
      state_class: "measurement"
    current:
      filters:
        - throttle_average: 10
      name: "Refoss P11 Current"
      icon: mdi:current-ac
      unit_of_measurement: "A"
      device_class: "current"
      state_class: "measurement"
      #Overload Protection
      on_value:
        then:
          - if:
              condition:
                lambda: |-
                  if (id(overload_protection).state == "10 A" && x > 10.0) return true;
                  if (id(overload_protection).state == "15 A" && x > 15.0) return true;
                  return false;
              then:
                - switch.turn_off: relay
                - logger.log: "Overload Protection | Socket OFF"
    power:
      filters:
        - calibrate_linear:
          - 0.0 -> 0.0
          - 8.8 -> 16.8
        - throttle_average: 10s
      name: "Refoss P11 Power"
      icon: mdi:flash-outline
      unit_of_measurement: "W"
      device_class: "power"
      state_class: "measurement"

#Diagnostic
  - platform: adc
    pin: GPIO17
    name: "Refoss P11 Internal Temperature"
    update_interval: 5min
    unit_of_measurement: "°C"
    device_class: "temperature"
    state_class: "measurement"
    entity_category: "diagnostic"
    filters:
      - calibrate_linear:
        - 0.15 -> 18.6
        - 0.16 -> 19.8

  - platform: wifi_signal
    name: "Refoss P11 RSSI"
    update_interval: 1min
    unit_of_measurement: "dBm"
    device_class: "signal_strength"
    state_class: "measurement"
    entity_category: "diagnostic"

  - platform: uptime
    type: timestamp
    name: "Refoss P11 Uptime"
    icon: mdi:clock-time-four-outline
    device_class: "timestamp"
    entity_category: "diagnostic"

#Configuration
select:
  - platform: template
    restore_value: true
    optimistic: true
    options:
      - "Off"
      - "10 A"
      - "15 A"
    initial_option: "10 A"
    update_interval: 1s
    id: overload_protection
    name: "Refoss P11 Overload Protection"
    icon: mdi:sync-alert
    entity_category: "config"

button:
  - platform: restart
    id: restart_device
    name: "Refoss P11 Restart"
